services:
  landlord:
    environment:
      LANDLORD_CONFIG: /etc/landlord/ecs.config.yaml
    volumes:
      - ./ecs.config.yaml:/etc/landlord/ecs.config.yaml:ro

  worker:
    environment:
      AWS_SDK_LOAD_CONFIG: "1"
      AWS_PROFILE: ${AWS_PROFILE:-default}
      LANDLORD_CONFIG: /etc/landlord/ecs.config.yaml
      WORKFLOW_RESTATE_WORKER_COMPUTE_PROVIDER: ecs
    volumes:
      - ./ecs.config.yaml:/etc/landlord/ecs.config.yaml:ro
      - ${HOME}/.aws:/root/.aws:ro
